<!DOCTYPE html>
<html>

<head>

<title>Gasolina</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>



<div class="container">

<h2>⛽ Registrar gasolina</h2>

<form method="POST">

<label>Fecha</label>
<input type="date" name="fecha" required>

<label>Kilometraje</label>
<input type="number" name="km" required>

<label>Cantidad</label>
<input type="number" step="0.1" name="litros" required>

<label>Precio total</label>
<input type="number" name="precio" required>

<label>Observaciones</label>
<input type="text" name="observaciones" required>

<button type="submit">Guardar</button>

</form>

<a href="/">Volver</a>

</div>

</body>
</html>